.carousel-item img{
    height: 75vh;
    width: 100%;
}
h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
  background: linear-gradient(to right, #eef2ff, #f8f9fa);
}

